<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Learning Journal</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <ul class="nav">
      <li>Home</li>
      <li>New Entry</li>
      <li>Edit Post</li>
      <li>Create New</li>
    </ul>
    <div class="container">
    <a href="#"><h1>May 30th Journal entry</h1></a>
    <p>Today we started learning the pyramid framework. So far, it's been easier to follow than building a server from scratch, but, it's still been super confusing. David and I followed the instructions exactly as they were laid out and were able to accomlish our goals, but I don't feel like either of us have a great understanding of what parts are doing what. Personally, I have no idea what the changes I made to things did. I wish the purpose of each step was a little more apparent, but that might just be where my ability to understand is lacking.</p>
  </div>
      <div class="container">
      <a href="#"><h1>May 29th Journal entry</h1></a>
      <p>Some text about May 29th</p>
    </div>
      <div class="container">
      <a href="#"><h1>May 28th Journal entry</h1></a>
      <p>Some text about May 28th</p>
    </div>
      <div class="container">
      <a href="#"><h1>May 27th Journal entry</h1></a>
      <p>Some text about May 27th</p>
    </div>
      <div class="container">
      <a href="#"><h1>May 26th Journal entry</h1></a>
      <p>Some text about May 26th</p>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
