
{% extends "layout.jinja2" %}
{% block content %}
<h1>List of Journals</h1>
<ul>
    {% for item in journals %}
    <li>My entry for <strong>  {{ item.title }}  </strong>  {{ item.date }}  <a href="{{ request.route_url('detail', id=item.id) }}"><button>See This Journal</button></a></li><hr>
    {% endfor %}
</ul>
{% endblock %}
