<!DOCTYPE html>
<html>
    <head>
        <title>Journal Tracker | {{ page }}</title>
        <link rel="stylesheet" type="text/css" href="{{ request.static_path('pyramid_learning_journal:static/style.css') }}" />
    </head>
    <body>
    <a href="{{ request.route_url('home') }}"><button>Home</button></a>
    {% block content %}{% endblock %}
    </body>

</html>
