<!DOCTYPE html>
<html>
    <head>
        <title>Python 401 Learning Journal | {{ page }}</title>
        <link rel="stylesheet" type="text/css" href="{{ request.static_path('pyramid_learning_journal:static/style.css') }}" />
    </head>
    <body>
    <a href="{{ request.route_url('home') }}"><button>Home</button></a>
    <a href="{{ request.route_url('create') }}"><button>Create</button></a>
    <a href="{{ request.route_url('login') }}"><button>Login</button></a>
    <a href="{{ request.route_url('logout') }}"><button>Logout</button></a>

    {% block content %}{% endblock %}
    </body>

</html>
